*,
::before,
::after {
  padding: 0;
  margin: 0;
}

.headerDiv {
  border: 2px solid;
  height: 10vh;
  display: flex;
  align-items: center;
  position: relative;

  h2 {
    position: absolute;
    left: 2%;
    // top: 5%;
  }

  .bgmButton {
    width: 15%;
    height: 35%;
    // margin-left: 20%;
    // margin-right: 0%;
    display: flex;
    position: absolute;
    left: 45%;

    button {
      margin-left: auto;
      margin-right: auto;
    }
  }
  p {
    border: 2px solid;
    width: 30%;
    margin-left: 2%;
    position: absolute;
    left: 60%;
  }
}
